.headerPlaying-j0WQBV.header-2BwW8b.size16-14cGz5{/*top part ingame*/
    background: linear-gradient( rgba(209, 171, 0, 0.5), rgb(209, 171, 0, 1) )!important;
}

.headerStreaming-2FjmGz.header-2BwW8b.size16-14cGz5{/*top part straming*/
    background: linear-gradient( rgba(209, 0, 192, 0.5), rgb(209, 0, 122) )!important;
}

.headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5{/*top part spotify*/
    background: linear-gradient( rgba(7, 209, 0, 0.5), rgb(0, 170, 71) )!important;
}

.userPopout-3XzG_A{
    backdrop-filter: blur(5px)!important;
    background-color: #0000003d!important;
    box-shadow: none;
    border: none;
}